/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blue: #2563eb;
  --light-blue: #eff6ff;
}

body {
  font-family: 'Roboto';
  margin: 0;
}